 .u-section-1 {
  background-image: url("images/black-blur-background-7h6g5qc93be6u3d0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-image-1 {
  width: 578px;
  height: 578px;
  margin: 73px auto 0 -75px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  margin: -555px -104px 0 531px;
}

.u-section-1 .u-text-2 {
  margin: 46px 29px 0 531px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px 308px 60px auto;
  padding: 11px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -414px;
    margin-left: 431px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 365px;
    margin-right: 0;
    margin-left: 431px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -387px;
    margin-right: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -329px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 46px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
    margin-right: auto;
    padding-right: 83px;
    padding-left: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -104px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 68px;
    margin-left: -32px;
    margin-right: -32px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
    margin-left: -27px;
    margin-right: -27px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.9375rem;
    margin-top: 31px;
    margin-bottom: 56px;
    padding: 7px 24px 8px 23px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 74px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 46px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1143px;
}

.u-section-3 .u-text-1 {
  width: 418px;
  font-size: 3rem;
  margin: 45px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 15px 91px 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1573px;
  margin: 31px -216px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 493px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 23px;
}

.u-section-3 .u-icon-1 {
  height: 168px;
  width: 168px;
  margin: 25px auto 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 23px;
}

.u-section-3 .u-icon-2 {
  height: 168px;
  width: 168px;
  margin: 25px auto 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 23px;
}

.u-section-3 .u-icon-3 {
  height: 168px;
  width: 168px;
  margin: 25px auto 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 23px;
}

.u-section-3 .u-icon-4 {
  height: 168px;
  width: 168px;
  margin: 25px auto 0;
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 22px auto 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 59px -182px 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 58px auto 0;
  padding: 14px 34px 16px 32px;
}

.u-section-3 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 58px 0 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 315px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1634px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 806px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-3 .u-text-11 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 32px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 31px;
    margin-bottom: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2353px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1637px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 43px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 43px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 43px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 43px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.25rem;
    margin-top: 83px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.9375rem;
    margin-top: 19px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 43px;
    margin-bottom: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 560px;
}

.u-section-4 .u-image-1 {
  width: 431px;
  height: 175px;
  margin: 0 auto 0 106px;
}

.u-section-4 .u-image-2 {
  width: 437px;
  height: 175px;
  margin: -175px 87px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 431px;
  height: 166px;
  margin: 59px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.9375rem;
  font-weight: 500;
  margin: 59px 0 51px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 37px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    height: 159px;
    margin-top: 37px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-bottom: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: 87px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 138px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 136px;
    margin-top: 34px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    height: 125px;
    margin-top: 34px;
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 47px;
    margin-bottom: 43px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 205px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 28px -239px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 13px -192px 0;
}

.u-section-5 .u-line-1 {
  width: 1219px;
  transform-origin: right center;
  border-style: solid;
  margin: 28px auto 28px -27px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-line-1 {
    transform-origin: left center;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.9375rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-line-1 {
    transform-origin: left center 0px;
    width: 340px;
    margin-left: auto;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(242,242,242,0.25), rgba(242,242,242,0.25)), url('images/istockphoto-1319844646-612x612.jpg');
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 706px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 63px -536px 0 656px;
}

.u-section-6 .u-image-1 {
  width: 418px;
  height: 360px;
  margin: 17px auto 0 30px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: -377px -296px 0 296px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  margin: 15px -22px 0 656px;
}

.u-section-6 .u-image-2 {
  width: 49px;
  height: 49px;
  margin: 37px 435px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -39px -86px 0 720px;
}

.u-section-6 .u-image-3 {
  width: 49px;
  height: 50px;
  margin: 35px 435px 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -41px -279px 0 720px;
}

.u-section-6 .u-image-4 {
  width: 49px;
  height: 50px;
  margin: 37px 435px 0 auto;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -40px -86px 0 720px;
}

.u-section-6 .u-image-5 {
  width: 49px;
  height: 50px;
  margin: 36px 435px 0 auto;
}

.u-section-6 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -39px -86px 0 720px;
}

.u-section-6 .u-text-8 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 37px -536px 60px 664px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -32px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 556px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 5px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 4px;
    margin-left: 620px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 620px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 620px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 620px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 30px;
  }

  .u-section-6 .u-image-1 {
    width: 355px;
    height: 293px;
    margin-top: 183px;
    margin-left: 5px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -473px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 23px;
    margin-right: 238px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: -49px;
    margin-right: -7px;
    margin-left: 503px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 57px;
    margin-right: 238px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -50px;
    margin-right: -7px;
    margin-left: 503px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 34px;
    margin-right: 238px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: -41px;
    margin-right: -7px;
    margin-left: 503px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 49px;
    margin-right: 238px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: -44px;
    margin-right: -7px;
    margin-left: 503px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin: 30px -433px 55px 433px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    margin-top: 48px;
    margin-left: 413px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 413px;
    font-size: 1rem;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
    margin-left: 413px;
  }

  .u-section-6 .u-text-7 {
    font-size: 1rem;
    margin-left: 413px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 19px;
  }

  .u-section-6 .u-image-1 {
    width: 190px;
    height: 350px;
    margin-top: -11937px;
    margin-left: -265px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-6 .u-image-2 {
    width: 36px;
    height: 36px;
    margin-top: 44px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-top: -36px;
    margin-right: -10px;
    margin-left: 46px;
  }

  .u-section-6 .u-image-3 {
    width: 36px;
    height: 37px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-top: -37px;
    margin-right: -10px;
    margin-left: 46px;
  }

  .u-section-6 .u-image-4 {
    width: 36px;
    height: 37px;
    margin-top: 12px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: -32px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-6 .u-image-5 {
    width: 36px;
    height: 37px;
    margin-top: 33px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-top: -32px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 26px;
    margin-bottom: 45px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 946px;
}

.u-section-7 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 56px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 16px -68px 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 56px 593px 0 239px;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -48px 210px 0 676px;
}

.u-section-7 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -44px -80px 0 1088px;
}

.u-section-7 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -48px 1117px 0 -175px;
}

.u-section-7 .u-text-7 {
  font-size: 1.25rem;
  margin: 26px -253px 0 1084px;
}

.u-section-7 .u-text-8 {
  font-size: 1.25rem;
  margin: -96px 162px 0 676px;
}

.u-section-7 .u-text-9 {
  font-size: 1.25rem;
  margin: -128px 999px 0 -175px;
}

.u-section-7 .u-text-10 {
  font-size: 1.25rem;
  margin: -96px 585px 0 239px;
}

.u-section-7 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 14px -167px 0 1084px;
}

.u-section-7 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -66px 1117px 0 -175px;
}

.u-section-7 .u-text-13 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -43px 592px 0 239px;
}

.u-section-7 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -35px 203px 0 676px;
}

.u-section-7 .u-text-15 {
  font-size: 1.25rem;
  margin: 1px 999px 0 -175px;
}

.u-section-7 .u-text-16 {
  font-size: 1.25rem;
  margin: -123px 596px 0 239px;
}

.u-section-7 .u-text-17 {
  font-size: 1.25rem;
  margin: -86px 138px 0 676px;
}

.u-section-7 .u-text-18 {
  font-size: 1.25rem;
  margin: -128px -251px 0 1084px;
}

.u-section-7 .u-text-19 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 40px -148px 56px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 7136px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 92px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 525px;
    margin-right: 493px;
    margin-left: 139px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -105px;
    margin-right: 110px;
    margin-left: 576px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 1491px;
    margin-left: 988px;
  }

  .u-section-7 .u-text-6 {
    margin-top: -1583px;
    margin-right: 1017px;
  }

  .u-section-7 .u-text-7 {
    margin-top: -6140px;
    margin-left: 984px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 12027px;
    margin-right: 62px;
    margin-left: 576px;
  }

  .u-section-7 .u-text-9 {
    margin-top: -3602px;
    margin-right: 899px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 1968px;
    margin-right: 485px;
    margin-left: 139px;
  }

  .u-section-7 .u-text-11 {
    margin-top: -11253px;
    margin-left: 984px;
  }

  .u-section-7 .u-text-12 {
    margin-top: 7339px;
    margin-right: 1017px;
  }

  .u-section-7 .u-text-13 {
    margin-top: 221px;
    margin-right: 492px;
    margin-left: 139px;
  }

  .u-section-7 .u-text-14 {
    margin-top: -2909px;
    margin-right: 103px;
    margin-left: 576px;
  }

  .u-section-7 .u-text-15 {
    margin-top: 7097px;
    margin-right: 799px;
  }

  .u-section-7 .u-text-16 {
    margin-top: -9570px;
    margin-right: 810px;
    margin-left: 139px;
  }

  .u-section-7 .u-text-17 {
    margin-top: -6506px;
    margin-right: 38px;
    margin-left: 576px;
  }

  .u-section-7 .u-text-18 {
    margin-top: -2764px;
    margin-left: 984px;
  }

  .u-section-7 .u-text-19 {
    margin-top: 10246px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 46px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    width: 572px;
    margin-top: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-right: -9px;
    margin-left: 421px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 248px;
    margin-right: 360px;
    margin-left: 106px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -48px;
    margin-right: 167px;
    margin-left: 421px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: -344px;
    margin-right: 428px;
    margin-left: 103px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 316px;
    margin-right: 44px;
    margin-left: 421px;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: -91px;
    margin-right: 387px;
    margin-left: 103px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: -453px;
    margin-right: 387px;
    margin-left: 103px;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: -164px;
    margin-right: 45px;
    margin-left: 420px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-top: 559px;
    margin-right: -30px;
    margin-left: 420px;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-top: -347px;
    margin-right: 124px;
    margin-left: 421px;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-top: -43px;
    margin-right: 304px;
    margin-left: 103px;
  }

  .u-section-7 .u-text-14 {
    width: auto;
    margin-top: 203px;
    margin-right: 360px;
    margin-left: 99px;
  }

  .u-section-7 .u-text-15 {
    width: auto;
    margin-top: -239px;
    margin-right: 22px;
    margin-left: 420px;
  }

  .u-section-7 .u-text-16 {
    width: auto;
    margin-top: -160px;
    margin-right: 335px;
    margin-left: 103px;
  }

  .u-section-7 .u-text-17 {
    width: auto;
    margin-top: 122px;
    margin-right: 393px;
    margin-left: 99px;
  }

  .u-section-7 .u-text-18 {
    width: auto;
    margin-top: -148px;
    margin-right: -30px;
    margin-left: 420px;
  }

  .u-section-7 .u-text-19 {
    font-size: 1.9375rem;
    width: auto;
    margin-top: 109px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    margin-left: 331px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    margin-right: 270px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-5 {
    font-size: 1rem;
    margin-right: 77px;
    margin-left: 331px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1rem;
    margin-right: 338px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-7 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-7 .u-text-8 {
    font-size: 1rem;
    margin-right: 297px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-9 {
    font-size: 1rem;
    margin-right: 297px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-10 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 285px;
  }

  .u-section-7 .u-text-11 {
    font-size: 1rem;
    margin-left: 330px;
  }

  .u-section-7 .u-text-12 {
    font-size: 1rem;
    margin-right: 125px;
    margin-left: 336px;
  }

  .u-section-7 .u-text-13 {
    font-size: 1rem;
    margin-right: 214px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-14 {
    font-size: 1rem;
    margin-right: 270px;
    margin-left: 9px;
  }

  .u-section-7 .u-text-15 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 330px;
  }

  .u-section-7 .u-text-16 {
    font-size: 1rem;
    margin-right: 245px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-17 {
    font-size: 1rem;
    margin-right: 303px;
    margin-left: 9px;
  }

  .u-section-7 .u-text-18 {
    font-size: 1rem;
    margin-left: 330px;
  }

  .u-section-7 .u-text-19 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1533px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 33px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 14px;
    margin-right: 170px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 268px;
    margin-right: 91px;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 106px;
    margin-right: 208px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
    margin-top: -299px;
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 279px;
    margin-left: 0;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.125rem;
    margin-top: -200px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-9 {
    font-size: 1.125rem;
    margin-top: -221px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-7 .u-text-10 {
    font-size: 1.125rem;
    margin-top: -249px;
    margin-right: 24px;
    margin-left: 0;
  }

  .u-section-7 .u-text-11 {
    font-size: 1.125rem;
    margin-top: 858px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-7 .u-text-12 {
    font-size: 1.125rem;
    margin-top: -339px;
    margin-right: 83px;
    margin-left: 0;
  }

  .u-section-7 .u-text-13 {
    font-size: 1.125rem;
    margin-top: -171px;
    margin-right: 97px;
    margin-left: 0;
  }

  .u-section-7 .u-text-14 {
    font-size: 1.125rem;
    margin-top: 276px;
    margin-right: 80px;
    margin-left: 0;
  }

  .u-section-7 .u-text-15 {
    font-size: 1.125rem;
    margin-top: -163px;
    margin-right: 24px;
    margin-left: 0;
  }

  .u-section-7 .u-text-16 {
    font-size: 1.125rem;
    margin-top: -249px;
    margin-right: -20px;
    margin-left: 0;
  }

  .u-section-7 .u-text-17 {
    font-size: 1.125rem;
    margin-top: 218px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-18 {
    font-size: 1.125rem;
    margin-top: 70px;
    margin-right: -13px;
    margin-left: 0;
  }

  .u-section-7 .u-text-19 {
    font-size: 1.25rem;
    margin: 45px -25px 44px;
  }
} .u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/a-view-of-the-stars-on-night-sky.jpg');
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 321px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 34px -80px 0;
}

.u-section-8 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 42px auto 47px;
  padding: 22px 101px 23px 100px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 203px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-8 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 33px;
    margin-bottom: 52px;
    padding: 10px 14px 10px 12px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1107px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 66px -208px 0;
}

.u-section-9 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 66px auto 0;
}

.u-section-9 .u-image-1 {
  width: 628px;
  height: 533px;
  margin: 55px auto 0;
}

.u-section-9 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 42px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 3944px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 41px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-9 .u-text-2 {
    width: 203px;
    margin-top: 46px;
  }

  .u-section-9 .u-image-1 {
    margin-top: 21px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 3869px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 458px;
  }

  .u-section-9 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2629px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 42px;
    margin-left: -31px;
    margin-right: -31px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 41px;
  }

  .u-section-9 .u-image-1 {
    height: 288px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 41px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 3100px;
}

.u-section-10 .u-image-1 {
  width: 542px;
  height: 1004px;
  margin: -32px auto 0 -271px;
}

.u-section-10 .u-image-2 {
  width: 547px;
  height: 1004px;
  margin: -994px auto 0;
}

.u-section-10 .u-image-3 {
  width: 545px;
  height: 1003px;
  margin: -1003px -272px 0 auto;
}

.u-section-10 .u-image-4 {
  width: 549px;
  height: 980px;
  margin: 1px auto 0 -271px;
}

.u-section-10 .u-image-5 {
  width: 562px;
  height: 991px;
  margin: -957px auto 0;
}

.u-section-10 .u-image-6 {
  width: 567px;
  height: 543px;
  margin: -1013px -294px 0 auto;
}

.u-section-10 .u-image-7 {
  width: 584px;
  height: 510px;
  margin: -3px -311px 0 auto;
}

.u-section-10 .u-image-8 {
  width: 542px;
  height: 960px;
  margin: -59px auto 0 -271px;
}

.u-section-10 .u-image-9 {
  width: 562px;
  height: 508px;
  margin: -927px auto 0;
}

.u-section-10 .u-image-10 {
  width: 594px;
  height: 439px;
  margin: 0 249px 0 auto;
}

.u-section-10 .u-image-11 {
  width: 584px;
  height: 636px;
  margin: -906px -311px 0 auto;
}

.u-section-10 .u-image-12 {
  width: 584px;
  height: 393px;
  margin: -123px -311px 0 auto;
}

.u-section-10 .u-image-13 {
  width: 252px;
  height: 90px;
  margin: 69px auto -14px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-5 {
    margin-top: -958px;
  }

  .u-section-10 .u-image-8 {
    height: 961px;
  }

  .u-section-10 .u-image-9 {
    margin-top: -928px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 3502px;
  }

  .u-section-10 .u-image-1 {
    margin-top: -2919px;
    margin-left: auto;
  }

  .u-section-10 .u-image-2 {
    margin-top: 1px;
  }

  .u-section-10 .u-image-3 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-10 .u-image-4 {
    margin-top: -12px;
    margin-left: auto;
  }

  .u-section-10 .u-image-5 {
    margin-top: -11px;
  }

  .u-section-10 .u-image-6 {
    margin-top: 3472px;
    margin-right: auto;
  }

  .u-section-10 .u-image-7 {
    margin-top: -1675px;
    margin-right: auto;
  }

  .u-section-10 .u-image-8 {
    width: 593px;
    height: 1030px;
    margin-top: -1971px;
    margin-left: auto;
  }

  .u-section-10 .u-image-9 {
    margin-top: -1928px;
  }

  .u-section-10 .u-image-10 {
    margin-top: -20px;
    margin-right: auto;
  }

  .u-section-10 .u-image-11 {
    margin-top: 1933px;
    margin-right: auto;
  }

  .u-section-10 .u-image-12 {
    margin-top: -1531px;
    margin-right: auto;
  }

  .u-section-10 .u-image-13 {
    width: 218px;
    height: 78px;
    margin-top: 1779px;
    margin-bottom: -2735px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 3127px;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 1000px;
  }

  .u-section-10 .u-image-2 {
    width: 540px;
    height: 991px;
  }

  .u-section-10 .u-image-3 {
    width: 540px;
    height: 994px;
    margin-top: 13px;
  }

  .u-section-10 .u-image-4 {
    width: 540px;
    height: 964px;
    margin-top: -3px;
  }

  .u-section-10 .u-image-5 {
    width: 540px;
    height: 952px;
    margin-top: 5px;
  }

  .u-section-10 .u-image-6 {
    width: 540px;
    height: 517px;
  }

  .u-section-10 .u-image-7 {
    width: 540px;
    height: 472px;
    margin-top: -1649px;
  }

  .u-section-10 .u-image-8 {
    width: 540px;
    height: 938px;
    margin-top: -1933px;
  }

  .u-section-10 .u-image-9 {
    width: 540px;
    height: 488px;
    margin-top: -1836px;
  }

  .u-section-10 .u-image-10 {
    width: 540px;
    height: 399px;
    margin-top: 0;
  }

  .u-section-10 .u-image-11 {
    width: 540px;
    height: 588px;
  }

  .u-section-10 .u-image-12 {
    width: 540px;
    height: 363px;
    margin-top: -1483px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    height: 630px;
    margin-top: -686px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    height: 624px;
    margin-top: -1883px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-3 {
    height: 626px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-4 {
    height: 607px;
    margin-top: 2938px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-5 {
    width: 340px;
    height: 599px;
    margin-top: -2908px;
  }

  .u-section-10 .u-image-6 {
    height: 326px;
    margin-top: 2601px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-7 {
    height: 297px;
    margin-top: -622px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-8 {
    width: 340px;
    height: 591px;
    margin-top: -1722px;
  }

  .u-section-10 .u-image-9 {
    width: 340px;
    height: 307px;
    margin-top: -1489px;
  }

  .u-section-10 .u-image-10 {
    width: 340px;
    height: 251px;
  }

  .u-section-10 .u-image-11 {
    height: 370px;
    margin-top: -10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-12 {
    height: 229px;
    margin-top: 566px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-13 {
    width: 161px;
    height: 59px;
    margin-top: 1291px;
    margin-bottom: -468px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 417px;
}

.u-section-11 .u-text-1 {
  font-size: 1.6875rem;
  font-weight: 600;
  margin: 78px 10px 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.6875rem;
  font-weight: 600;
  margin: 64px -175px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3168px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 2791px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-11 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 527px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 299px;
}

.u-section-12 .u-text-1 {
  font-size: 1.4375rem;
  font-weight: 500;
  margin: 36px 304px 0 376px;
}

.u-section-12 .u-text-2 {
  font-size: 1.4375rem;
  font-weight: 500;
  margin: -74px -259px 0 939px;
}

.u-section-12 .u-text-3 {
  font-size: 1.4375rem;
  font-weight: 500;
  margin: -37px 800px 0 -45px;
}

.u-section-12 .u-image-1 {
  width: 103px;
  height: 103px;
  margin: 73px 28px 0 auto;
}

.u-section-12 .u-image-2 {
  width: 103px;
  height: 103px;
  margin: -103px auto 0;
}

.u-section-12 .u-image-3 {
  width: 92px;
  height: 92px;
  margin: -103px auto 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 204px;
    margin-left: 276px;
  }

  .u-section-12 .u-text-2 {
    margin-top: -12px;
    margin-left: 839px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -16px;
    margin-right: 700px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 224px;
    margin-left: 264px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: -147px;
    margin-right: -37px;
    margin-left: 507px;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-top: -37px;
    margin-right: 456px;
    margin-left: 0;
  }

  .u-section-12 .u-image-1 {
    margin-top: 110px;
    margin-right: 11px;
  }

  .u-section-12 .u-image-3 {
    margin-bottom: 43px;
    margin-left: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 1rem;
    margin-right: 134px;
    margin-left: 174px;
  }

  .u-section-12 .u-text-2 {
    font-size: 1rem;
    margin-top: -31px;
    margin-left: 417px;
  }

  .u-section-12 .u-text-3 {
    font-size: 1rem;
    margin-top: 0;
    margin-right: 276px;
  }

  .u-section-12 .u-image-1 {
    margin-top: 125px;
  }

  .u-section-12 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-12 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.25rem;
    width: 263px;
    margin-top: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-text-2 {
    font-size: 1.25rem;
    width: 270px;
    margin-top: 186px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-text-3 {
    font-size: 1.25rem;
    width: 257px;
    margin-top: -528px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-image-1 {
    margin-top: 537px;
    margin-right: auto;
  }

  .u-section-12 .u-image-2 {
    margin-top: -324px;
  }

  .u-section-12 .u-image-3 {
    margin-top: -374px;
    margin-left: auto;
    margin-bottom: 60px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 339px;
}

.u-section-13 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 40px -92px 0;
}

.u-section-13 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px;
  padding: 17px 60px 19px 59px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2.625rem;
    width: auto;
    margin-top: 44px;
  }

  .u-section-13 .u-btn-1 {
    font-size: 2.625rem;
    margin-top: 35px;
    margin-bottom: 52px;
    padding: 21px 56px 22px 54px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-13 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 26px;
  }

  .u-section-13 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 26px;
    margin-bottom: 26px;
    padding: 14px 48px 15px;
  }
}